body {
    height: 100dvh;
}


.nav-container {
    height: 80px;
}

.chart-container {
    height: calc(100% - 80px);
    max-height: calc(100% - 80px);
}

.chart-canvas-container {
    min-height: calc(100% / 2);
    max-height: calc(100% / 2);
}

